<div class="full-screen">
    <div class='about'>
        <div class="contact-img">
            <img src="/img/about-image.png">
        </div>

        <div class="about-contact">
            <div id="first">
                <h1>Address:</h1>
                <div id="address">
                    <p>Stara Zagora</p>
                    <p>St. Knyaz Boris 103</p>
                </div>
            </div>
            <div id="second">
                <h1>Contacts:</h1>
                <div id="contacts">
                    <p>+ 359 877 365 024 </p>
                    <p>alex.alexandrov200@gmail.com</p>
                </div>
            </div>
        </div>

    </div>
</div>

        